<h1>Welcome to Angular Tutorial </h1>
<p> This is our First Page </p>

<h3> num is : {{num}}</h3>
<h3> str is : {{str}}</h3>
<h3>bool is : {{bool}}</h3>
<h3>Array Elements : {{arr}}</h3>
<h3>Array : {{arr[2]}}</h3>
<hr>

<p> Student Info</p>

<p>Student Name is : {{student.name}}</p>
<p>Student Age is : {{student.age}}</p>
<p>Student City is : {{student.city}}</p>
<p>Student Marks is : {{student.marks}}</p>
<p>{{hello()}}</p>


<hr>
<app-first-comp></app-first-comp>
<hr>
<app-second-comp></app-second-comp>