h1{

    font-family: 'Trebuchet MS';
    font-style: initial;
    text-align: center;
  background-color: aqua; 
  color: brown; 


}
p{
    font-size: 25px;
    font-family: cursive;
    background-color: lightgray;
text-align: center;


}
h3{
text-align: center;

color: darkblue;

}